.site-footer{
  background-color: $color-green-dark;
  padding-top: 32px;
  padding-bottom: 64px;
  color: $color-white;

  @media(max-width: 992px){
    padding-bottom: 54px;
  }

  @media(max-width: 767px){
    padding-bottom: 42px;
  }

  @media(max-width: 440px){
    padding-bottom: 32px;
  }

  .footer-contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    column-gap: 24px;
  }

  .footer-logo{
    width: 175px;
  }

  .footer-item{
    padding-top: 32px;
  }

  .footer-title{
    margin-bottom: 16px;
  }

  .phones-wrapper{
    margin-bottom: 8px;
  }

  .contact-item{
    margin-bottom: 8px;

    &:last-child{
      margin-bottom: 0;
    }

    a{
      color: $color-white !important;
    }
  }

  .social-wrapper{
    display: flex;
    gap: 16px;

    a{
      background-color: $color-green;
    }
  }

  .copy-wrapper{
    position: relative;
    padding-top: 40px;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 12px;
      right: 12px;
      height: 1px;
      background-color: $color-white;
    }

    .copy{
      margin-bottom: 24px;
    }

    .dev-by{
      margin-bottom: 0;

      svg{
        width: 120px;
        margin-left: 8px;
      }
    }
  }
}